//
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  justify-content: center;
}

#pokelogo {
  width: 300px;
}
#containerCardsPokemon {
  margin-top: 8vh;
  max-width: 1110px;
  perspective: 500px;
}

.form-control {
  min-width: 70vw;
  margin-top: 1vh;
  border: 2px solid $card-border-color;
  background-color: $card-background-color;
  color: white;

  &:hover {
    border: 2px solid $card-border-color;
    color: white;
  }

  &:focus {
    border: 2px solid $card-border-color;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.12);
    background-color: $card-background-color;
    color: white;
  }
}

.fa-search {
  margin-top: 1vh;
  color: $card-border-color;
}

.cardPokemon {
  position:relative;
  width: 200px;
  margin: 11px;
  align-items: center;
  border-radius: 20px;
  border: solid 1px $card-border-color;
  background-color: $card-background-color;box-shadow: 5px 5px 5px $card-shadow-color;
  
  transform-style: preserve-3d;
  transition-duration: 1s;
  overflow:hidden;

  &::before{
    content: '';
    position:absolute;
    width: 0px;
    height: 120%;
    left: 5%;
    top: 5%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: white;
    opacity: .3;
    transition-duration: 1s;
    box-shadow:0 0 10px 4px white;
  }

  &:hover{
    transform: rotateY(3deg);
    &::before{
      left:95%;
      top:95%;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}

.imgPokemon {
  text-align: center;
  margin: auto;
}

.card-body {
  border-radius: 14px;
  color: $card-text-color;
  padding: 1px;
}

.card-text h5 {
  text-transform: capitalize;
  color: $pokemon-name-color;
}
.card-text p {
  font-family: 'Marck Script', cursive;
  font-size: 20px;
  margin-bottom: 0.2rem;
}

small {
  color: $pokemon-name-color;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  text-align: right;
}

.loading {
  color: $pokemon-name-color;
  margin-top: 10vh;
}
