.cardPokemon{
    width: 15rem;
    margin: 5px;
    align-items: center;
    border-radius: 20px;
    border: solid 5px #ffcc01

}

.imgPokemon{
    text-align: center;
    margin: auto;
}
.card-body{
    background-color: #2c6cb4;
    border-radius: 14px;
    color: white;
    padding: 1px;
}
.card-text h5{
    color: #ffcc01;
}
.row{
    margin: auto;
}