// Body
$background-color: #333;

//micards colors
$card-background-color: rgb(78, 78, 78);
$card-border-color: #ffcc01;
$card-shadow-color: black;
$pokemon-name-color: #ffcc01;
$card-text-color: white;
$pokemon-id-bg-color: rgba(#2c6cb4, 0.5);
//
