@import "colors";
@import "components/infopokemon";
@import "components/containerCardsPokemon";

html{
    height: 100%;
    background-color: $background-color;
    font-size: 1.5rem;
}
.App {
    min-height: 100vh;
    background-color: $background-color;
}

.switch-wrapper {
    position: relative;
  }
   
.switch-wrapper > div {
    position: absolute;
    width: 100vw;
}