@import "colors";
@import "components/infopokemon";

.App {
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: $background-color;
}

.cardPokemon {
    width: 11rem;
    margin: 11px;
    align-items: center;
    border-radius: 20px;
    border: solid 1px $card-border-color;
    background-color: $card-background-color;
    box-shadow: 5px 5px 5px $card-shadow-color;
}

.imgPokemon {
    text-align: center;
    margin: auto;
}
.card-body {
    /* background-color: #2c6cb4; */
    border-radius: 14px;
    color: $card-text-color;
    padding: 1px;
}
.card-text h5 {
    color: $pokemon-name-color;
}
.card-text p {
    color: $card-text-color;
    font-family: "Marck Script", cursive;
    font-size: 20px;
}
.id {
    margin-bottom: 0.2rem;
    background-color: $pokemon-id-bg-color;
}
.row {
    margin: auto;
}
